<ul>
    <li><h3><a href="{{ base_url }}/posts/2024/12_24_frameworks.html">On frameworks and languages (12/24)</a></h3></li>
    <li><h3><a href="{{ base_url }}/posts/2024/09_24_capacity.html">A small parenthesis on capacity (09/24)</a></h3></li>
</ul>
<hr>
<div align="center">
    <a href="{{ base_url }}" title="Go to my landing page">🏠︎</a>
</div>