<!doctype html>
<html lang="en" color-scheme="light dark">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ base_url }}/assets/style.css">
        <script>
            const MYURL = "{{ base_url }}";
            const LOCATIONS = {{ locations }};
        </script>
        <title>mon's blog 👾</title>
        </head>
        <body>
            {{ menu }}
        