        <div id="content">
            <ul class="menu-bar">
                <li class="menu-item" id="posts">
                    <a class="dropdown-btn" href="#" title="Posts">
                        Posts
                    </a>
                    <div class="dropdown-content">
                      <a class="dropdown-item" href="{{ base_url }}/posts/2026.html">2026</a>
                      <a class="dropdown-item" href="{{ base_url }}/posts/2025.html">2025</a>
                      <a class="dropdown-item" href="{{ base_url }}/posts/2024.html">2024</a>
                    </div>
                </li>
            </ul>
            <br/>
        </div>
